* {
  padding: 0;
  margin: 0;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: transparent;
  padding: 20px 0;
}

.header .navbar .navbar-brand img {
  width: 200px;
}

.header .navbar .navbar-nav .nav-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid transparent;
}

.header .navbar .navbar-nav .nav-item .nav-link {
  border-right: 2px solid black;
  padding-right: 20px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .navbar .navbar-nav .nav-item:last-child .nav-link {
  border: none;
  color: #22baa0;
}

.header .navbar .navbar-nav .nav-item:hover {
  border-bottom: 2px solid #ddd;
}

.hero {
  min-height: 100vh;
  background-image: url("../img/bg2.png");
  background-position: center;
  background-size: cover;
  max-height: 900px;
}

.hero .c-wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
}

.hero .c-wrapper .contents {
  width: 600px;
  max-width: 90vw;
}

.hero .c-wrapper .contents .intro h1 {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 900;
}

.hero .c-wrapper .contents .intro p {
  font-size: 34px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

.hero .c-wrapper .contents .cta-wrapper {
  width: 300px;
  max-width: 70vw;
  height: 50px;
}

.hero .c-wrapper .contents .cta-wrapper a {
  background: #22baa0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .c-wrapper .contents .cta-wrapper a:hover {
  background: #126456;
}

@media screen and (min-width: 900px) {
  .header,
  .c-wrapper {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-height: 900px) {
  .hero {
    min-height: 700px;
  }
}

.section-two {
  background-color: #f8f8f8;
  padding: 80px 0;
}

.section-two .c-wrapper-2 .description-top .wrapper {
  text-align: center;
}

.section-two .c-wrapper-2 .row {
  padding: 50px;
}

.section-two .c-wrapper-2 .row .card-div {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.section-two .c-wrapper-2 .row .card-div .icon-wrapper {
  height: 140px;
}

.section-two .c-wrapper-2 .row .card-div h3 {
  font-size: 18px;
  text-align: center;
  height: 60px;
  font-weight: 700;
}

.section-two .c-wrapper-2 .row .card-div p {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.section-three {
  background-color: #2c3e50;
  padding: 10px;
}

.section-three .c-wrapper .section-3-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  padding: 60px 0;
}

.section-three .c-wrapper .section-3-intro p {
  font-weight: 300;
  margin-top: 20px;
  font-size: 18px;
  width: 700px;
  max-width: 90vw;
}

.section-three .c-wrapper .section-3-item {
  margin-bottom: 40px;
}

.section-three .c-wrapper .section-3-item .item-1 {
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-three .c-wrapper .section-3-item .item-1 h3 {
  font-size: 14px;
  color: #d2a764;
}

.section-three .c-wrapper .section-3-item .item-1 h3 span {
  color: white;
  text-transform: uppercase;
  background-color: #22baa0;
  padding: 1px 30px;
  border-radius: 24px;
}

.section-three .c-wrapper .section-3-item .item-1 p {
  margin-top: 30px;
  border-bottom: 1px solid #5a7c9e;
  padding-bottom: 10px;
  font-weight: 300;
}

.section-three .c-wrapper .section-3-item .item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-three .c-wrapper .section-3-item .item-2 img {
  width: 80%;
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .section-three .c-wrapper .section-3-item .item-2 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.section-four {
  background-color: #f8f8f8;
  padding-bottom: 60px;
}

.section-four .c-wrapper .description-wrapper {
  padding: 60px 10px 40px 10px;
}

.section-four .c-wrapper .section-3-content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-four .c-wrapper .section-3-content .item img {
  max-width: 100%;
}

.section-four .c-wrapper .section-3-content .item .desc h3 {
  min-height: 60px;
}

.section-four .c-wrapper .section-3-content .item .desc p {
  margin: 10px 0 40px 0;
}

.section-four .c-wrapper .section-3-content .item .cta-wrapper {
  background-color: #22baa0;
  height: 50px;
  border-radius: 6px;
}

.section-four .c-wrapper .section-3-content .item .cta-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
}

.section-five {
  background-color: #2c3e50;
  padding: 100px 0 70px 0;
}

.section-five .c-wrapper .item {
  margin-bottom: 30px;
}

.section-five .c-wrapper .item header {
  margin-bottom: 40px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.section-five .c-wrapper .item header span {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
}

.section-five .c-wrapper .item p {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.section-five .c-wrapper .item img {
  width: 100%;
}

.section-five .c-wrapper .item .cta-wrapper {
  background-color: #22baa0;
  height: 50px;
}

.section-five .c-wrapper .item .cta-wrapper a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.section-six {
  padding: 80px 0;
  background-color: #f8f8f8;
}

.section-six .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-six .container h2 {
  font-size: 30px;
}

.section-six .container h3 {
  font-weight: 300;
  font-size: 24px;
  margin: 10px 0;
}

.section-six .container .cta-wrapper {
  background-color: #22baa0;
  height: 50px;
  width: 300px;
  max-width: 90vw;
}

.section-six .container .cta-wrapper a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

footer {
  padding: 80px;
  background-color: #ececec;
}

footer .container h3 {
  margin-bottom: 20px;
  font-size: 16px;
}

footer .container p,
footer .container a {
  color: #666666;
  font-size: 14px;
}

footer .container ul {
  list-style: none;
  font-size: 14px;
}

footer .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
  border: none;
  padding: 10px;
}

footer .container form button {
  background-color: #22baa0;
  color: white;
}

footer .container form button:hover {
  color: white;
}

.login-section {
  padding: 80px 20px;
  background-color: #ececec;
  min-height: 100vh;
}

.login-section .welcome-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-section .welcome-back img {
  width: 150px;
}

.login-section .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.login-section .form-wrapper form {
  background-color: #f8f8f8;
  width: 500px;
  max-width: 90vw;
  padding: 50px 30px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 -4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 -4px 10px rgba(0, 0, 0, 0.2);
}

.login-section .form-wrapper .email-div,
.login-section .form-wrapper .password-div {
  margin-bottom: 20px;
}

.login-section .form-wrapper .email-div label,
.login-section .form-wrapper .password-div label {
  font-weight: bold;
}

.login-section .form-wrapper .email-div .wrapper,
.login-section .form-wrapper .password-div .wrapper {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ebebeb;
  margin-top: 10px;
}

.login-section .form-wrapper .email-div .wrapper i,
.login-section .form-wrapper .password-div .wrapper i {
  height: 100%;
  width: 40px;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-section .form-wrapper .email-div .wrapper input,
.login-section .form-wrapper .password-div .wrapper input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  border: none;
  outline-color: #ebebeb;
  padding: 0 20px;
}

.login-section .form-wrapper .remember-div {
  margin-bottom: 20px;
}

.login-section .form-wrapper .remember-div .wrapper a {
  color: blue;
  text-decoration: none;
}

.login-section .form-wrapper .cta-div button {
  background: #22baa0;
  border: none;
  height: 40px;
  color: white;
  width: 150px;
  cursor: pointer;
}

.login-section .form-wrapper .cta-div button:hover {
  background: #1a8f7b;
}

@media screen and (min-width: 500px) {
  .login-section .form-wrapper form .email-div,
  .login-section .form-wrapper form .password-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .login-section .form-wrapper form .email-div .wrapper,
  .login-section .form-wrapper form .password-div .wrapper {
    margin-top: 0;
    width: 300px;
  }
  .login-section .form-wrapper form .remember-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .login-section .form-wrapper form .remember-div .wrapper {
    width: 300px;
  }
  .login-section .form-wrapper form .cta-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .login-section .form-wrapper form .cta-div button {
    width: 300px;
  }
}
/*# sourceMappingURL=index.css.map */